<div class="container">
  <h1>Sales</h1>

  <div id="msgid"></div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Customer</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%=@customer_id%></td>
        <% @result.each do |revenue| %>
        <td><%= revenue %></td>
        <% end %>
        <td><%= @total %></td>
      </tr>
    </tbody>
  </table>

</div>